<div class="container-fluid">
    <div class="row px-5 pt-2">
        <div class="col-sm-2"></div>
        <div class="col-sm-2">
            <div id="sideContainer">
                <div class="input-group mb-3" id="searchBar">
                    <input type="text" class="form-control" placeholder="Search" autocomplete="none">
                    <div class="input-group-append" id="searchButton">
                        <a href="/search" id="navSearchButton" class="btn btn-outline-secondary" type="button" id="searchBorder">
                            <i class="material-icons">search</i>
                        </a>
                    </div>
                </div>
                <div class="navMenuHeader">
                    <p>PAGES</p>
                </div>

                <div class="nav flex-column nav-pills">
                    <a class="nav-link" href="/">Current Stocks</a>
                    <a class="nav-link" href="/news">News Articles</a>
                    <a class="nav-link nav-active" href="/dashboard">My Dashboard</a>
                </div>
            </div>
        </div>
    {{!-- </div> --}}

    <div class="col-md-6 pl-5" id="stockSide">
        <div id="pageHeadRow" class="row">
            <h1>My Dashboard</h1>
            <div id="navDropDown">
                <p>Log in or Register</p>
            </div>
        </div>
        <div id="logIn">
            <div>
                <a id="loginLink" href="/login">Login</a>
                <a id="createAccountLink" href="/createAccount">Create Account</a>
                <a id="logoutLink" href="/logout">Logout</a>
            </div>
        </div>
        <div class="stockHolder">
            <div class="stock no-margin">
                <p class="stockHead">Ford Motor Company</p>
                <p class="stockSub">NRES: F</p>
                <div class="stockDivider"></div>
                <div>
                    <canvas id="bigChart" width="500" height="135"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>
<div class="push"></div>
</div>

<footer>
    <p>Stocks and Info</p>
</footer>

<!-- Chart.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<!-- Popper.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<!-- Bootstrap -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

<!-- Page Scripts -->
<script src="../js/stock.js"></script>
<script src="../js/dashboard.js"></script>
<script src="../js/navbar.js"></script>
<script src="../js/search.js"></script>