<div class="container-fluid">
    <div class="row px-5 pt-2">
        <div class="col-sm-2"></div>
        <div class="col-sm-2">
            <div id="sideContainer">
                <div class="input-group mb-3" id="searchBar">
                    <input type="text" class="form-control" placeholder="Search" autocomplete="none">
                    <div class="input-group-append" id="searchButton">
                        <button id="navSearchButton" class="btn btn-outline-secondary" type="button" id="searchBorder">
                            <i class="material-icons">search</i>
                        </button>
                    </div>
                </div>
                <div class="navMenuHeader">
                    <p>PAGES</p>
                </div>

                <div class="nav flex-column nav-pills">
                    <a class="nav-link" href="/">Current Stocks</a>
                    <a class="nav-link nav-active" href="/news">News Articles</a>
                    <a class="nav-link" href="/dashboard">My Dashboard</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 pl-5" id="stockSide">
            <div id="pageHeadRow" class="row">
                <h1>News Articles</h1>
                <div id="navDropDown">
                    <p>Log in or Register</p>
                </div>
            </div>
            <div id="logIn">
                <div>
                    <a id="loginLink" href="/login">Login</a>
                    <a id="createAccountLink" href="/createAccount">Create Account</a>
                    <a id="logoutLink" href="/logout">Logout</a>
                </div>
            </div>
            <div class="newsArticle" id="art-one">
                <h1 id="art-head-one"></h1>
                <h6 id="art-source-one"></h6>
                <p id="art-sum-one"></p>
            </div>
            <div class="newsArticle" id="art-two">
                <h1 id="art-head-two"></h1>
                <h6 id="art-source-two"></h6>
                <p id="art-sum-two"></p>
            </div>
            <div class="newsArticle" id="art-three">
                <h1 id="art-head-three"></h1>
                <h6 id="art-source-three"></h6>
                <p id="art-sum-three"></p>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="push"></div>
</div>

<footer>
    <p>Stocks and Info</p>
</footer>