* {
    box-sizing: border-box;
    font-family: 'Open Sans', 'Sans', Arial, Helvetica, sans-serif;
 }

body {
    background-color: #25282F;
}

.navMenuHeader, a {
    color: #42465A;
    box-sizing: border-box;
    font-family: 'Open Sans', 'Sans', Arial, Helvetica, sans-serif;

}

a {
    color: #d7d7d7;
    box-sizing: border-box;
    font-family: 'Open Sans', 'Sans', Arial, Helvetica, sans-serif;

}

.active {
    background-color: #1F242B !important; 
}

.nav-link {
    border: 1px solid #25282F;
    color: #d7d7d7;
}

.nav-link:hover {
    border: 1px solid #42465A;
    color: #d7d7d7;
}

#sidebar {
    padding: 25px 20px 20px 20px;
    
}
#searchButton {
    background: #42465A;
}

#searchBorder {
    background: #42465A;
    border: none;
}

.form-control {
    background: #42465A;
    border: #42465A;
}
.form-control:focus {
    background: #42465A;
    border: #42465A;
    color: #d7d7d7;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 14px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
