* {
    box-sizing: border-box;
    font-family: 'Open Sans', 'Sans', Arial, Helvetica, sans-serif;
}

p,
h1 {
    color: #d7d7d7;
}

body {
    background-color: #25282F;
}

.container {
    min-height: 100vh;
    margin-bottom: -50px;
}

#logIn {
    display: none;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 0 5px;
    flex-direction: column;
    position: absolute;
    padding: 20px;
    background-color: #25282F;
    width: 300px;
    height: 200px;
    right: 0;
}

#logIn form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#logIn form input {
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
    border: none;
    background-color: #ffffff;
    outline: none;
}

footer,
.push {
    height: 50px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #42465A;
    border-top: 1px solid #42465A;
}

footer p {
    padding: 0;
    height: 12px;
}

#pageHeadRow {
    height: 80px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#pageHeadRow h1 {
    color: #d7d7d7;
    font-size: 34px;
    font-weight: 300;
    font-weight: lighter;
}

#navDropDown {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    color: #d7d7d7;
}

#navDropDown p {
    padding: 0;
    font-size: 14px;
    height: 12px;
}

#navDropDown:hover {
    cursor: pointer;
    background-color: rgb(45, 49, 58);
}

.stock {
    border-radius: 5px;
    border: 1px solid rgb(80, 104, 224);
    margin-bottom: 20px;
    overflow: hidden;
    height: 220px;
}

#stocks {
    padding: 25px 25px;
    margin-bottom: 25px;
    margin-top: 15px;
    border-radius: 5px;
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    background-color: #eef2f7;
}

#stocks h1 {
    color: #52525e;
    font-size: 26px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.1)
}

.stock:nth-child(2) {
    border-color: rgb(255, 147, 147);
}

.stock:nth-child(3) {
    border-color: rgb(216, 100, 210)
}

#stocks:nth-last-child() {
    margin-bottom: 0;
}

#smallerStocks {
    display: flex;
    flex-direction: row;
}

.smallerStock {
    background-color: green;
    height: 300px;
    width: 300px;
}

.stockHead {
    color: #2d2d2d;
    padding: 10px 0 0 15px;
    margin: 0;
}

.stockSub {
    color: rgba(0, 0, 0, 0.75);
    margin: 0;
    padding: 0px 0 0 15px;
    font-size: 10px;
}

.stockDivider {
    height: 1px;
    margin-top: 5px;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.05);
}

.navMenuHeader,
a {
    color: #42465A;
    font-family: 'Open Sans', 'Sans', Arial, Helvetica, sans-serif;
}

a {
    color: #d7d7d7;
    font-family: 'Open Sans', 'Sans', Arial, Helvetica, sans-serif;
}

a:hover {
    color: #d7d7d7;
}

.active {
    background-color: #1F242B !important;
}

.nav-link {
    border: 1px solid #25282F;
    color: #d7d7d7;
}

.nav-link:hover {
    border: 1px solid #42465A;
}

#sidebar {
    padding: 25px 20px 20px 20px;
    position: fixed;
    width: 190px;
}

#stockSide {
    position: relative;
    left: 190px;
}

#searchButton {
    background: #42465A;
    border-bottom-right-radius: .25rem;
    border-top-right-radius: .25rem;
}

#navSearchButton {
    border: none;
    background: #42465A;
}

#searchBorder {
    background: #42465A;
    border: none;
}

.form-control {
    background: #42465A;
    border: #42465A;
}

.form-control:focus {
    background: #42465A;
    border: #42465A;
    color: #d7d7d7;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

.navMenuHeader {
    margin-top: 30px;
    padding-left: 15px;
}

.navMenuHeader p {
    opacity: 0.2;
}

footer p {
    opacity: 0.2;
}