.stock {
    border-radius: 5px;
    border: 1px solid rgb(80, 104, 224);
    overflow: hidden;
    height: 220px;
}

.stocks {
    /* padding: 25px 25px; */
    border-radius: 5px;
    margin-bottom: 30px;
    width: 100%;
    /* min-height: 300px; */
    display: flex;
    flex-direction: column;
    background-color: #eef2f7;
}

.stocks:hover {
    cursor: pointer;
    opacity: 0.9;
}

.stocks h1 {
    color: #52525e;
    font-size: 26px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.1)
}

.stock:nth-child(2) {
    border-color: rgb(255, 147, 147);
}

.stock:nth-child(3) {
    border-color: rgb(216, 100, 210)
}

.stocks:nth-last-child() {
    margin-bottom: 0;
}

#smallerStocks {
    display: flex;
    flex-direction: row;
}

.smallerStock {
    background-color: green;
    height: 300px;
    width: 300px;
}

.stockHead {
    color: #2d2d2d;
    padding: 10px 0 0 15px;
    margin: 0;
}

.stockSub {
    color: rgba(0, 0, 0, 0.75);
    margin: 0;
    padding: 0px 0 0 15px;
    font-size: 10px;
}

.stockDivider {
    height: 1px;
    margin-top: 5px;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.05);
}